/* <---CSS ALL---> */
* {
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgba(255, 182, 193, 0.219);
    margin: 0;
}


/* <---CSS NAV---> */
nav{
    z-index: 999;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

nav > ul {
    background-color: #535c68;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav  ul > li > a { 
    color: black;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: #dff9fb;
    text-decoration: none;
}

nav > ul > li:last-child{
    margin-left: auto;
    margin-right: 100px;
    margin-top: 5px;
}

nav > ul > li:last-child > div > input[type=text]{
    padding: 10px 40px 10px 5px;
    border-radius: 10px;
    border: 1px solid;
}

nav > ul > li:last-child > div > input[type=button]{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
}

/* CSS SUBMENU IN NAV */
.subcontent {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background-color: #535c68;
    width: 200px;
}

.submenu:hover .subcontent {
    opacity: 0.8;
    display: block;
}

.submenu > ul > li > a:hover {
    background-color: #dff9fb;
}


/* <---CSS HEADER---> */
.b20{
    width: 20%;
}
.b80{
    width: 80%;
}

.logo > img{
    margin-top: 13px;
    width: 150px;
    height: 150px;
    border-radius: 20px
}

header {
    display: flex;
    text-align: center;
    color: green;
    font-size: 45px;
    text-shadow: 4px 5px lightblue;
    animation: doimau 1s infinite;
}

@keyframes doimau {
    from {
        color: darkkhaki;
    }
    to {
        color: yellowgreen;
    }
}


/* <---CSS BODY---> */
section{
    margin: auto;
    width: 85%;
}

section{
    background-color: white;
    padding: 30px 15px 15px 15px;
    margin-top: 30px;
}

.flex{
    display: flex;
}

.mar50{
    margin-bottom: 50px;
}

div.main_left{
    width: 45%;
}

div.main_right{
    width: 55%;
    padding: 0px 0px 0px 40px;
}

div.main_left > div > img{
    width: 100%;
}

div.main_left > div:not(:nth-child(2)){
    border: 2px gray solid;
}

div.thumb > div > img{
    width: 100%;
    cursor: pointer;
}

div.thumb > div{
    width: 25%;
    border: 2px gray solid;
    margin: 5px;/* right here*/
}

div.thumb > div:hover{
    border: 2px orange solid;
}

div.main_right > h3{
    text-align: center;
    color: orange;
}

div.main_right > h1{
    text-align: center;
    color: red;
    font-size: 30px;
}

/*down*/
div.test_1 > div{
    margin: 30px 30px 30px 0px;
    color: gray;
}
div.btn_1, .btn_2{
    margin: 30px 30px 15px 30px;
}
div.tex > input[type=text]{
    width: 16px;
    margin: 0px 30px 15px 35px;
}
div.test_3{
    text-align: center;
}
div.test_3 > input[type=button]{
    width: 30%;
    height: 50px;
    background-color: darkgrey;
}
/*up ngân đọc tới chổ này thì test123 là tui kh biết đặt tên nên đặt đại á ngân đặt giúp cho nó hay hơn ha, kh thì để đấy cũng đc*/

input[type=button]{
    margin: 0 0 0 5px;
    padding: 4px 12px;
    border: 1px gray solid;
    background-color: white;
}
input[type=button]:hover{
    border: 1px orange solid;
}

div.detail_name{
    width: 25%;
}

div.detail_name > div{
    margin: 10px 16px;
    color: #aeb2b5;
}

div.detail_des{
    width: 75%;
}

div.detail_des > div{
    margin: 10px 16px;
}

div.detail_des > div > a{
    text-decoration: none;
    color: #5979b6;
}

div.des > h3{
    background-color: rgba(211, 211, 211, 0.7);
    padding: 10px;
    margin: 0;
}

div.des > span{
    display: block;
    margin: 10px 16px;
}

div.cmt{
    margin: 10px 0;
    background-color: white;
    display: flex;
}

div.img-user{
    margin: 10px 20px;
    border-radius: 50%;
}

div.img-user > img{
    width: 100%;
}

div.cmt-user{
    width: 90%;
    margin: auto 0;
}
div.cmt-user > textarea{
    width: 95%;
    padding: 10px;
    border-radius: 10px;
}

.baner{
    width: 90%;
    margin: auto;
}

.baner > a > img{ 
    padding: 50px 0;
    width: 100%;
}



/* <---CSS FOOTER---> */
footer{
    background-image: linear-gradient(45deg ,rgba(255, 182, 193, 0.8) 30%, rgba(253, 250, 233, 0.8)), url(../images/01.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 77.5vh;
    padding: 50px 20px 0px 20px;
}

footer > h1{
    display: block;
    text-align: center;
}

.info > ul{
    list-style-type: none;
    padding: 10px;
}

.info span{
    color: red;
}

.info a{
    text-decoration: none;
}

.social > a{
    padding-right: 10px;
    padding-left: 10px;
    color: black;
}

.social > h4{
    color: black;
}

div.contact{
    display: flex;
}

.social{
    width: 15%;
    text-align: center;
}

.info{
    width: 35%;
}

.info > h3{
    text-align: center;
}

/* CSS FORM */
.form{
    width: 50%;
    text-align: center;
}

form input[type=text]{
    width: 60%;
    border-radius: 10px;
    border: 0;
    margin: 5px;
    padding: 10px;
}

form textarea{
    width: 60%;
    border-radius: 10px;
    border: 0;
    margin: 5px;
    padding: 10px;
    height: 50px;
}

form input[type=button]{
    width: 60%;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    background-color: orange;
    color: white;
    border: 1px solid orange;
}

.copyright > h4 {
    text-align: center;
    background-color: #7f8c8d;
    border: none;
    margin: 0;
    padding: 5px;
}

/* GO TO TOP IN FOOTER */
.gototop{
    opacity: 0.6;
    position:fixed;
    bottom:10px;
    right:10px;
    background-color: black;
    border-radius: 10px;
}
.gototop > a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px;
}